@import url('https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&family=Satisfy&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Doto:wght@100..900&family=Honk&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&family=Satisfy&family=Sevillana&family=Shadows+Into+Light&display=swap');

*{box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    background: linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    align-items: center;
    height: 80px;
}

header h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: "Sevillana", cursive;
    font-weight: normal;
    margin-top: 110px;
    margin-bottom: 50px;
}

body{
   background: #ffffff;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    background: linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 90px;
}

.box-img{
    display: flex;
    justify-content: center;
    width: 35%;
    
}

.box-txt{
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    
}

.box-txt span{
    font-family: "poppins", serif;
    font-size: 70px;
   color: #000000;
    transform: translate3d(0.5vmin, -0.5vmin, 0);
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 80px;
 
}

.btn-hero {
    background: #5ac80b;
    padding: 10px 25px;
    text-decoration: none;
    font-family: "Poppins", serif;
    color: #000000;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: -0.5vmin 0.5vmin 0 #000000;
    letter-spacing: 0.1em;
    transform: translate3d(0.5vmin, -0.5vmin, 0);
    transition: 0.5s all;
    margin-bottom: 10px;
}

.btn-hero:hover{
    background: #5ac80b;
    font-weight: bold;
    color: #ffffff;

}

.especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    margin-left: 10%;

}


.box-item {
    width: 30%;
    height: 290px;
    background: rgb(255, 255, 255);
    margin: 15px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 50px;
    border: 3px solid #000000;
    box-shadow: -0.5vmin 0.5vmin 0 #811628;
   
    
}

.box-item h1{
    font-family: "Poppins", serif;
    font-size: 35px;
    color: #000000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: -10px;
    line-height: 25px;
}

.box-item p{
    font-family: "Poppins", serif;
    font-size: 20px;
    color: #000000;
}

.btn-item {
    background: #5ac80b;
    padding: 10px 25px;
    text-decoration: none;
    font-family: "Poppins", serif;
    color: #000000;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: -0.5vmin 0.5vmin 0 #000000;
    letter-spacing: 0.1em;
    transition: 0.5s all;
    margin-bottom: 10px;
}

.btn-item:hover{
    background: #5ac80b;
    color: #ffffff;
}

.box-item img{
    display: center;
    justify-content: center;
    width: 90%;
}

.box-item h3{
    font-family: "Poppins", serif;
    font-size: 18px;
    color: #000000;
}

.dicas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    margin-left: 20%;
}

.box-dica {
    width: 40%;
    height: 200px;
    background: #ffffff;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 50px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: -0.5vmin 0.5vmin 0 #811628;
}

.box-title span{
    font-family: "Poppins", serif;
    font-size: 65px;
    color: #000000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    font-weight: 350;
    margin-top: 90px;
    margin-bottom: 90px;
    line-height: 30px;
}

.box-dica h1{
    font-family:"Poppins", serif;
    font-size: 35px;
    color: #000000;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: -10px;
    line-height: 30px;
}

.box-dica p{
    font-family: "Poppins", serif;
    font-size: 20px;
    color: #000000;
}

.processo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 80%;
    margin-left: 10%;
}

.box-processo {
    width: 40%;
    height: 200px;
    font-family: "Poppins", serif;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    border-radius: 5px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.final{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 60%;
    margin-left: 20%;
}

.box-final{
    width: 100%;
    height: 200px;
    font-family: "Poppins", serif;
    margin: 5px;
    padding: 30px 20px;
    text-align: center;
    margin-top: 250px;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
    margin-top: 30px;
    background: -webkit-linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    background: linear-gradient( right, #811628, #7d2030,#792e3b, #783d47, #755258);
    color: #000000;
    height: 50px;
    font-size: 15px;
}

.whats{
    position: fixed;
    right: 100px;
    bottom: 110px;
}
.btn-whats:hover{
    font-weight: bold;
    font-size: 35px;
}


.face{
    position: fixed;
    right: 100px;
    bottom: 163px;
}
.btn-face:hover{
    font-size: 30px;
    font-weight: bold;
}


.insta{
    position: fixed;
    right: 97px;
    bottom: 210px;
}
.btn-insta:hover{
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .header{
        flex-direction: column-reverse;
    }
    .box-txt{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; 
        padding: 90px 50px; 
        width: 100%;  
    }
    .box-txt span{
        text-align: center;
        font-size: 45px;
        line-height: 40px;
        margin-top: 0px;
        
    }

    img{
        display: none;
    }
    
    .box-img{
        display: none;
       
    }

   
}

@media (max-width: 1200px) {
    header h1 {
      font-size: 30px;
    }
  
    header p {
      font-size: 18px;
      margin-top: -50px;
      margin-bottom: -10px;
    }
  
    .hero {
      flex-direction: column;
      margin-top: -40px;
      margin-bottom: 50px;
    }
  
    .box-img,
    .box-txt {
      width: 90%;
    }
  
    .box-txt span {
      font-size: 30px;
      font-weight: 300;
      line-height: 50px;
    }
  
    .btn-hero {
        font-size: 15px;
        line-height: 30px;
    }

    .btn-item{
        height: 20px;
        font-weight: 500;
        font-size: 10px;
    }

    .especialidades {
      width: 100%;
      margin-left: 0;
    }
  
    .box-item {
      width: 90%;
      height: auto;
      margin: 10px 0;
    }
  
    .box-item h1 {
      font-size: 25px;
      line-height: 30px;
    }
  
    .box-item p {
      font-size: 16px;
    }
  
    .dicas {
      width: 100%;
      margin-left: 0;
    }
  
    .box-dica {
      font-size: 30px;
      width: 90%;
      height: auto;
    }

    .box-dica h1{
        font-size: 25px;
        line-height: 40px;
    }
  
    .box-title span {
      font-size: 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 50px;
      line-height: 50px;
    }
  
    .processo {
      width: 100%;
      margin-left: 0;
    }
  
    .box-processo {
      width: 100%;
      height: auto;
      margin-bottom: -250px;
    }
    


    .final{
        width: 100%;
        margin-left: 0;
    }

    .box-final{
        width: 100%;
        height: auto;
        margin-bottom: -100px;
    }
  
    footer {
      margin-top: 100px;
      font-size: 10px;
    }
  
    .whats,
    .face,
    .insta {
      display: none;
    }
  }